<h1 class="h3 mb-4 text-gray-800">Lives</h1>
<p>Find me in app/views/admins_backoffice/admins/index.html.erb</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>  
      <th scope="col">Description</th>
      <th scope="col">Data</th>
      <th scope="col">hora</th>
      <th scope="col">Genero</th>
      <th scope="col">
      <%= link_to  new_admins_backoffice_livestream_path, class:"btn btn-success btn-circle btn-sm" do %>
        <i class="fas fa-plus"></i>
      <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @livestreams.each do |livestream| %>
    <tr>
      <th scope="row"><%= livestream.id %></th>
      <td><%= livestream.title%></td>
      <td><%= livestream.description%></td>
      <td><%= livestream.data%></td>
      <td><%= livestream.hora%></td>
      <td><%= livestream.genre.description%></td>
      <td>
      <%= link_to edit_admins_backoffice_livestream_path(livestream), class:"btn btn-warning btn-circle btn-sm" do %>
        <i class="fas fa-edit"></i>
      <% end %>

      <%= link_to admins_backoffice_livestream_path(livestream), method: :delete, class:"btn btn-danger btn-circle btn-sm", data: {confirm: "Deseja realmente apagar essa live?"} do %>
        <i class="fas fa-trash"></i>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= paginate @livestreams %>
</div>


