<h1 class="h3 mb-4 text-gray-800"><%= "#{action_message} Genero" %></h1>
<%= @genre.inspect %>
<% if @genre.errors.any? %>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <ul>
  <%@genre.errors.full_messages.each do |message|%>
  <li> <%= message %> </li>
  <% end %>
  </ul>
</div>
<% end %>
<%= form_with(model: [ :admins_backoffice, @genre ], local: true ) do |form| %>
  <div class="form-group">
  <%=form.label :description %>
  <%= form.text_field :description, class:"form-control", placeholder:"Enter Genero"%>
  </div>
  
 
  <button type="submit" class="btn btn-primary">Salvar</button>
  <% end %>