<h1 class="h3 mb-4 text-gray-800"><%= "#{action_message} Artista" %></h1>
<%= @artist.inspect %>
<% if @artist.errors.any? %>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <ul>
  <%@artist.errors.full_messages.each do |message|%>
  <li> <%= message %> </li>
  <% end %>
  </ul>
</div>
<% end %>
<%= form_with(model: [ :admins_backoffice, @artist ], local: true ) do |form| %>
  <div class="form-group">
    <%=form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Enter Name"%>
  </div>
  
  <div class="form-group">
    <%=form.label :image %>
    <%= form.text_field :image, class:"form-control", placeholder:"Enter Image"%>
  </div>

  <div class="form-group">
    <%=form.label :facebook %>
    <%= form.text_field :facebook, class:"form-control", placeholder:"Enter Facebook"%>
  </div>

  <div class="form-group">
    <%=form.label :instagram %>
    <%= form.text_field :instagram, class:"form-control", placeholder:"Enter Instagram"%>
  </div>

  <div class="form-group">
    <%=form.label :youtube %>
    <%= form.text_field :youtube, class:"form-control", placeholder:"Enter youtube"%>
  </div>

  <div class="form-group">
    <%=form.label :genre_id %>
    <%= form.collection_select(:genre_id, @genres, :id, :description, {}, {class:"form-control"}) %>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <% end %>

